<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Allure Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.example.listeners.AllureListener"/>
    </listeners>
    <parameter name="platform" value="android"/>
    <parameter name="appPath" value="/path/to/app.apk"/>
    <test name="Android Tests">
        <parameter name="platform" value="android"/>
        <classes>
            <class name="com.example.stepdefinitions.CommonSteps"/>
        </classes>
    </test>
</suite> 